.floorText {
  color: $dark_color;
  &-title {
    font-size: 49px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
    letter-spacing: 0.05em;
    margin: 60px 0 60px 0;
  }
  &.bg__biege &-title, &.bg__blue &-title{
    color: #fff;
  }
  &.bg__white &-title {
    color: $dark_color;
  }
  &-subtitle {
    font-size: 26px;
    line-height: 1.2;
    text-transform: none;
    text-align: center;
    font-weight: 300;
    margin: 0 0 60px 0;
  }
  &.bg__biege &-subtitle, &.bg__blue &-subtitle{
    color: #fff;
  }
  &.bg__white &-subtitle {
    color: $dark_color;
  }
  &-divider {
    display: block;
    width: 70px;
    height: 2px;
    background-color: $red_color;
    margin: 29px auto 60px auto;
  }
  &-text {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    font-weight: 200;
    margin: 0 0 30px 0;
  }
  &.bg__biege &-text, &.bg__blue &-text{
    color: #fff;
  }
  &.bg__white &-text {
    color: $biege3_color;
  }
}
