
// Breakpoints
// $xs-width: '576px';
// $sm-width: '768px';
// $md-width: '992px';
// $lg-width: '1200px';
// $xl-width: '1600px';


// Common
body {
	@include media('max-md') {
		margin-top: 184px;
	}
}
.fixed-top {
	@include media('max-md') {
		position: absolute;
		height: 230px;
	}
}


// Home
.section {
	&-home {
		.container {
			text-align: center;
		}
		// Banner
		&-banner {
			background-size: cover;
			.container {
				position: relative;
				@include media('max-sm') {
					width: 100%;
					height: 600px;
					padding: 15px;
				}
				@include media('sm') {
					width: 100%;
					height: 700px;
					padding: 25px 15px;
				}
				@include media('md') {
					width: 900px;
					height: 800px;
					padding: 50px 15px;
				}
			}
			.title {
				color: #fff;
				font-size: 3.25rem;
				font-weight: 100;
				margin: 0;
				@include media('max-sm') {
					padding: 15px 0;
				}
				@include media('sm') {
					padding: 25px 0;
				}
				@include media('md') {
					padding: 50px 0;
				}
				&-two {
					font-size: 2.125rem;
					font-weight: 300;
					letter-spacing: 0;
					text-transform: capitalize;
					@include media('max-sm') {
						padding: 15px 0;
						margin-bottom: 15px;
					}
					@include media('sm') {
						padding: 25px 0;
						margin-bottom: 25px;
					}
					@include media('md') {
						padding: 50px 0;
						margin-bottom: 50px;
					}
				}
			}
			.text {
				color: #fff;
				font-size: 1.375rem;
				font-weight: 400;
				@include media('max-sm') {
					margin: 30px 15px;
				}
				@include media('sm') {
					margin: 30px 15px;
				}
				@include media('md') {
					margin: 60px 15px;
				}
			}
			.line {
				width: 70px;
				height: 2px;
				display: inline-block;
				background: #fff;
			}
			.buttons {
				width: 100%;
				position: absolute;
				left: 0;
				@include media('max-md') {
					bottom: 15px;
				}
				@include media('md') {
					bottom: 50px;
				}
				.btn {
					margin: 15px 50px;
					padding: 13px;
					width: 260px;
				}
			}
		}
		// Logotypes
		&-logos {
			background: #e6e6de;
			.container {
				width: 100%;
				display: flex;
				@include media('max-sm') {
					flex-direction: column;
					padding: 30px 0;
				}
				@include media('sm') {
					flex-direction: row;
				}
			}
			.item {
				opacity: 0.6;
				@include media('max-sm') {
					padding: 0 30px;
				}
				@include media('sm') {
					padding: 30px 10px;
				}
				@include media('md') {
					padding: 30px;
				}
				img {
					width: 100%;
					height: auto;
					max-width: 160px;
					filter: grayscale(100%);
					transition: all .5s ease-in-out;
				}
				&:hover,
				&:focus {
					opacity: 1;
					img {filter: grayscale(0%);}
				}
			}
		}
		// Personalize
		&-personalize {
			.container {
				max-width: 1000px;
				@include media('max-sm') {
					padding: 50px 15px;
				}
				@include media('sm') {
					padding: 100px 15px;
				}
				&:last-child {
					width: 100%;
					max-width: 100%;
					@include media('max-sm') {
						padding-top: 25px;
					}
					@include media('sm') {
						padding-top: 50px;
					}
				}
			}
			.title {
				font-size: 1.875rem;
				font-weight: 300;
				@include media('max-sm') {
					margin-bottom: 50px;
					padding: 0 30px;
				}
				@include media('sm') {
					margin-bottom: 100px;
				}
			}
			.text {
				font-size: 1rem;
				font-weight: 400;
				line-height: 1.5rem;
				p {
					margin-bottom: 25px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
			.items {
				.item {
					display: inline-block;
					@include media('max-sm') {
						width: 100%;
					}
					@include media('sm') {
						width: 19%;
					}
				}
				.title {
					font-size: 0.875rem;
					font-weight: 400;
					letter-spacing: 0;
					@include media('max-sm') {
						margin: 0;
					}
					@include media('sm') {
						margin: 20px 0 10px 0;
					}
				}
				.arrow {
					svg line,
					svg polyline {
						stroke: #222933;
					}
				}
			}
			.buttons {
				@include media('max-sm') {
					margin: 50px 0 25px 0;
				}
				@include media('sm') {
					margin: 100px 0 50px 0;
				}
			}
		}
		// Research Video
		&-research {
			height: 100vh;
			padding-bottom: 120px;
			@include media('max-xs') {
				min-height: 400px;
			}
			@include media('xs') {
				min-height: 500px;
			}
			@include media('sm') {
				min-height: 650px;
			}
			@include media('md') {
				min-height: 750px;
			}
			@include media('lg') {
				min-height: 900px;
			}
			.video {
				&-title {
					bottom: 50%;
    			margin-bottom: -100px;
					font-size: 2.25rem;
					font-weight: 300;
				}
				&-desc {
					font-size: 1.125rem;
					font-weight: 400;
					letter-spacing: 1px;
					line-height: 1.875rem;
					p {margin-bottom: 30px;}
					@include media('max-md') {
			      display: none;
			    }
				}
				&-info {
					bottom: 0;
					.btn {margin: 35px 0;}
				}
			}
		}
		// How It Works
		&-howitworks {
			background: #e7e7df;
			.container {
				width: 100%;
			}
			.title {
				font-size: 2.25rem;
				font-weight: 300;
				margin: 0;
				@include media('max-sm') {
					padding: 50px 0;
				}
				@include media('sm') {
					padding: 100px 0;
				}
			}
			.buttons {
				@include media('max-sm') {
					padding: 50px 0;
				}
				@include media('sm') {
					padding: 100px 0;
				}
				.btn {
					border: 1px solid #d3d1c4;
				}
			}
			img {display: none;}
			.mobile {
				@include media('max-sm') {
					display: inline-block;
				}
			}
			.desktop {
				@include media('sm') {
					display: inline-block;
				}
			}

		}
		// Industry Solutiuon
		&-industry {
			.container {
				width: 100%;
				padding-left: 30px;
				padding-right: 30px;
				text-align: center;
			}
			.title {
				font-size: 2.25rem;
				font-weight: 300;
				@include media('max-sm') {
					padding: 50px 0;
				}
				@include media('sm') {
					padding: 100px 0;
				}
			}
			.item {
				position: relative;
				margin-bottom: 30px;
				display: flex;
				flex-direction: column;
				img {
					filter: grayscale(100%);
					transition: all .5s ease-in-out;
				}
				&:hover {
					img {filter: grayscale(0%);}
				}
				.title {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					padding: 0;
					z-index: 99;
					color: #fff;
					line-height: 56px;
					font-size: 0.875rem;
					font-weight: 400;
					background: rgba(49,56,65,.9);
				}
				.arrow {
					position: absolute;
					right: 20px;
					top: 20px;
					width: 50px;
					height: 50px;
					padding: 0;
					z-index: 99;
					border: 1px solid #fff;
					border-radius: 50%;
					line-height: 44px;
					svg line,
					svg polyline {
						stroke: #fff;
					}
				}
			}
			.buttons {
				@include media('max-sm') {
					padding: 20px 0 50px 0;
				}
				@include media('sm') {
					padding: 100px 0;
				}
			}
		}
		// Customers Video
		&-customers {
			height: 100vh;
			padding-bottom: 120px;
			@include media('max-xs') {
				min-height: 400px;
			}
			@include media('xs') {
				min-height: 500px;
			}
			@include media('sm') {
				min-height: 650px;
			}
			@include media('md') {
				min-height: 750px;
			}
			@include media('lg') {
				min-height: 900px;
			}
			.video {
				&-title {
					bottom: 50%;
    			margin-bottom: -100px;
					font-size: 2.25rem;
					font-weight: 300;
				}
				&-desc {
					font-size: 0.875rem;
					font-weight: 400;
					letter-spacing: 1px;
					p {margin-bottom: 30px;}
					@include media('max-md') {
			      display: none;
			    }
				}
				&-info {
					bottom: 0;
					.btn {margin: 35px 0;}
				}
			}
		}
	}
}
